@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 210 29% 16%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 16%;
    --primary: 184 100% 35%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 11% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 11% 25%;
    --muted-foreground: 0 0% 70%;
    --accent: 184 100% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 11% 25%;
    --input: 210 11% 25%;
    --ring: 184 100% 35%;
    --radius: 0.5rem;
    
    --dark-bg: 210 29% 16%;
    --dark-secondary: 210 11% 25%;
    --cyan-accent: 184 100% 35%;
    --light-bg: 0 0% 93%;
    
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 210 29% 16%;
    --foreground: 0 0% 93%;
    --card: 210 11% 25%;
    --card-foreground: 0 0% 93%;
    --popover: 210 11% 25%;
    --popover-foreground: 0 0% 93%;
    --primary: 184 100% 35%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 11% 25%;
    --secondary-foreground: 0 0% 93%;
    --muted: 210 11% 25%;
    --muted-foreground: 0 0% 70%;
    --accent: 184 100% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 11% 25%;
    --input: 210 11% 25%;
    --ring: 184 100% 35%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
